<style>
  table,th,td
  {
  border:1px solid black;
  }
</style>
<h1>Home Finder</h1>

<% if @home %>
  <h3><%= @home.short_address %> - <%= @home.rent %></h3>
  <ul>
    <li><%= @home.site %></li>
    <% @home.formatted_facts.each do |fact| %>
      <li><%= fact %></li>
    <% end %>
  </u>
  <table>
  <td>
    <tr>John</tr>
    <tr>Work</tr>
    <tr>Chipotle 1</tr>
    <tr>Chipotle 2</tr>
    <tr>Whole Foods</tr>
    <td>Jo-Ann</tr>
    <tr>PetCo 1</tr>
    <tr>PetCo 2</tr>
    <tr>Unleashed</tr>
  </td>
  <td>
    <tr><%= @john_time %></tr>
    <tr><%= @work_time %></tr>
    <tr><%= @chipotle_1_time %></tr>
    <tr><%= @chipotle_2_time %></tr>
    <tr><%= @whole_foods_time %></tr>
    <tr><%= @joann_time %></tr>
    <tr><%= @petco_1_time %></tr>
    <tr><%= @petco_2_time %></tr>
    <tr><%= @unleashed_time %></tr>
  </td>
  </table>
<% end %>

<div>
  <form method='GET'>
    <input name='site' />
    <input type='submit' value='Lookup'>
  </form>
</div>
