<h1>Home Finder</h1>

<% if @home %>
  <h3><%= @home.short_address %> - <%= @home.rent %></h3>
  <ul>
    <li><%= @home.site %></li>
    <% @home.formatted_facts.each do |fact| %>
      <li><%= fact %></li>
    <% end %>
  </u>
  <table>
  <tr>
    <td>John</td>
    <td>Work</td>
    <td>Chipotle 1</td>
    <td>Chipotle 2</td>
    <td>Whole Foods</td>
    <td>Jo-Ann</td>
    <td>PetCo 1</td>
    <td>PetCo 2</td>
    <td>Unleashed</td>
  </tr>
  <tr>
    <td><%= @john_time %></td>
    <td><%= @work_time %></td>
    <td><%= @chipotle_1_time %></td>
    <td><%= @chipotle_2_time %></td>
    <td><%= @whole_foods_time %></td>
    <td><%= @joann_time %></td>
    <td><%= @petco_1_time %></td>
    <td><%= @petco_2_time %></td>
    <td><%= @unleashed_time %></td>
  </tr>
  </table>
<% end %>

<div>
  <form method='GET'>
    <input name='site' />
    <input type='submit' value='Lookup'>
  </form>
</div>
