<h1>Home Finder</h1>

<% if @home %>
  <h3><%= @home.short_address %> - <%= @home.rent %></h3>
  <ul>
    <li><%= @home.site %></li>
    <% @home.formatted_facts.each do |fact| %>
      <li><%= fact %></li>
    <% end %>

    <li>Miranda's Work: <%= @miranda_time %></li>
    <li>Jason's Work: <%= @jason_time %></li>
    <li>Church: <%= @church_time %></li>
  </u>
<% end %>

<div>
  <form method='GET'>
    <input name='site' />
    <input type='submit' value='Lookup'>
  </form>
</div>
