<style>
  table,th,td
  {
  border:1px solid black;
  border-collapse:collapse
  }
</style>
<h1>Home Finder</h1>

  <% if @home %>
  <h3><%= @home.short_address %> - <%= @home.rent %></h3>
  <ul>
    <li><%= @home.site %></li>
    <% @home.formatted_facts.each do |fact| %>
      <li><%= fact %></li>
    <% end %>
  </u>
  <% else %>
    <h3><%= @address %></h3>
  <% end %>
  <% if @address %>
    <table>
    <tr>
      <td>Robin Work</td>
      <td><%= @rwork_time %></td>
    </tr>
    <tr>
      <td>John Work</td>
      <td><%= @jwork_time %></td>
    </tr>
    <tr>
      <td>Michael Work</td>
      <td><%= @mwork_time %></td>
    </tr>
    </table>
  <% end %>

<div>
  <form method='GET'>
    <input name='address' />
    <input type='submit' value='Address'>
  </form>
</div>
