<h1>Home Finder</h1>

<% if @home %>
  <h3><%= @home.short_address %> - <%= @home.rent %></h3>
  <ul>
    <li><%= @home.site %></li>
    <% @home.formatted_facts.each do |fact| %>
      <li><%= fact %></li>
    <% end %>

    <li>John: <%= @john_time %></li>
    <li>Work: <%= @work_time %></li>
    <li>Chipotle 1: <%= @chipotle_1_time %></li>
    <li>Chipotle 2: <%= @chipotle_2_time %></li>
  </u>
<% end %>

<div>
  <form method='GET'>
    <input name='site' />
    <input type='submit' value='Lookup'>
  </form>
</div>
