<h1>Home Finder</h1>

<% if @home %>
  <h3>Title: <%= @home.short_address %> - <%= @home.rent %></h3>
  <ul>
    <li>Miranda's Work: <%= @miranda_time %></li>
    <li>Jason's Work: <%= @jason_time %></li>
    <li>Church: <%= @church_time %></li>
  </u>

<% end %>
